<ion-view view-title="Desafio">
  <ion-content class="padding">
  <label style="width:50%; text-align: center; margin: auto;">
     <h3>Ingrese el desafío</h3>
  </label>
<ion-item >
<input type="text" placeholder="Escribir Desafio" ng-model='nueva.desc' style="width:100%; text-align: center; margin: auto;">
</ion-item>


   <label style="width:50%; text-align: center; margin: auto;">
     <h4>Ingrese el monto</h4>
  </label>
<ion-item class="range range-balanced">
    <i class="icon ion-cash balanced"></i>
    <input type="range" name="credito" ng-model= "nueva.credito" min="0" max="1000" value="0">
    <i class="icon ion-cash balanced"></i>
  </ion-item>
  <ion-item>
  Creditos:{{nueva.credito}}
</ion-item>
  
<label>
  <ion-item class="range range-positive">
    <i class="icon ion-android-time positive"></i>
    <input type="range" name="duracion" ng-model= "nueva.duracion" min="0" max="6" value="0">
    <i class="icon ion-android-time positive"></i>
  </ion-item>
 </label>
 <ion-item>
  Duración del desafío: {{nueva.duracion}} Horas.
</ion-item>

  <ion-item>
    <a class="button button-balanced" style="width: 50%; text-align: center; margin: auto;" ng-click="Apostar()"><i class="ion-plus-circled"></i> Apostar</a>
  </ion-item>

  </ion-content>
</ion-view>
