<ion-view view-title="Listado de Desafios">
  <ion-content>
 
<div class="list" ng-show="estado.bandera == 'lista'">
  <div class="item item-divider" style="width: 50%; text-align: center; margin: auto;">
    Desafíos
  </div>

    <ion-item ng-if="desafio.desafiante!=referencia.nombre && desafio.aceptante == null " ng-repeat="desafio in desafios" style="width: 50%; text-align: left; margin: auto;">
        <td></td>
        <a class="button button-balanced" ng-click="AceptDesafio(desafio)">Aceptar</a>
        <label>{{desafio.desafiante}} apuesta {{desafio.credito}} Creditos que {{desafio.descripcion}} 
        </label>
     </ion-item>


  <div class="item item-divider" style="width: 50%; text-align: center; margin: auto;">
    Desafíos de Batalla Naval
  </div>

    <ion-item ng-if="batalla.desafiante!=referencia.nombre && batalla.aceptante == null " ng-repeat="batalla in batallas" ng-click="GuardarBatalla(batalla)" style="width: 50%; text-align: center; margin: auto;">
        {{batalla.desafiante}} apostó {{batalla.credito}} Creditos con su nave
    </ion-item>
  </div>

    <ion-list ng-if="estado.bandera=='enjuego'">
    <div class="input-label" style="width: 50%; text-align: center; margin: auto;">
    <table style="width: 50%; text-align: center; margin: auto;">
        <tr>
            <td ng-click="LeerCuadrado('Primero')">
              <input type="radio" name= "elegido" class="button button-assertive"></td>
            <td ng-click="LeerCuadrado('Segundo')">
              <input type="radio" name= "elegido" class="button button-assertive"></td><tr>
            <td ng-click="LeerCuadrado('Tercero')">
              <input type="radio" name= "elegido" class="button button-assertive"></td>
            <td ng-click="LeerCuadrado('Cuarto')">
              <input type="radio" name= "elegido" class="button button-assertive"></td></tr>
        </tr>
      </table>
     </ion-list>
     <div> Sector del barco: {{cuadradoElegido}}</div>
      <a class="button button-balanced" ng-click="AcepteDesafio()">Aceptar</a>
      <a class="button button-balanced" ng-click="estado.bandera='lista'">Volver</a>
        


  </ion-content>
</ion-view>
