<ion-view view-title="Listado de Desafios">
  <ion-content class="col text-center" scroll="false" style="background: url(img/giphy.gif) no-repeat center center fixed; background-size: cover;">
  <br><br>
<div class="list" ng-show="estado.bandera == 'lista'">
     <font face="univers" size="4" color="white"> 
         Lista de Desafíos 
    </font>
    <br><br>
    <ion-item ng-if="desafio.desafiante!=referencia.nombre && desafio.aceptante == null " ng-repeat="desafio in desafios" style="text-align: left; margin: auto;">
        <td></td>
        <font face="univers" size="1" color="black" >{{desafio.desafiante}} apuesta {{desafio.credito}} Creditos que {{desafio.descripcion}} 
        </font>
        <br>
        <a class="button button-balanced" ng-click="AceptDesafio(desafio)">Aceptar</a>
     </ion-item>
<br><br>
  <font face="univers" size="4" color="white"> 
         Lista de Desafíos de Batalla Naval
    </font>

    <ion-item ng-if="batalla.desafiante!=referencia.nombre && batalla.aceptante == null " ng-repeat="batalla in batallas" ng-click="GuardarBatalla(batalla)" style="width: 50%; text-align: center; margin: auto;">
        {{batalla.desafiante}} apostó {{batalla.credito}} Creditos con su nave
    </ion-item>
  </div>

    <ion-list ng-if="estado.bandera=='enjuego'">
    <div class="input-label" style="width: 50%; text-align: center; margin: auto;">
    <table style="width: 50%; text-align: center; margin: auto;">
        <tr>
            <td ng-click="LeerCuadrado('Primero')">
              <input type="radio" name= "elegido" class="button button-assertive"></td>
            <td ng-click="LeerCuadrado('Segundo')">
              <input type="radio" name= "elegido" class="button button-assertive"></td><tr>
            <td ng-click="LeerCuadrado('Tercero')">
              <input type="radio" name= "elegido" class="button button-assertive"></td>
            <td ng-click="LeerCuadrado('Cuarto')">
              <input type="radio" name= "elegido" class="button button-assertive"></td></tr>
        </tr>
      </table>
     </ion-list>
     <div> Sector del barco: {{cuadradoElegido}}</div>
      <a class="button button-balanced" ng-click="AcepteDesafio()">Aceptar</a>
      <a class="button button-balanced" ng-click="estado.bandera='lista'">Volver</a>
        


  </ion-content>
</ion-view>
