<ion-view view-title="Perfil">
    <ion-content style="text-align: center">
    <ion-list >
    <ion-item>
  <img src='img/facu.jpg' height="200" width="200">
    </ion-item>
    <ion-item>
      <span>Nombre: </span>
    </ion-item>
    <ion-item>
      <span>Créditos: </span>
    </ion-item>
    <ion-item>
      Email: 
    </ion-item>
    <ion-item>
    <a class="item item-assertive" href="#" style="width: 50%; text-align: center; margin: auto;">
    <i class="ion-log-out"></i>
    Salir
    </a>
    </ion-item>
    <ion-item>
    <a class="item item-positive" ng-click="LeerCodigo()" style="width: 50%; text-align: center; margin: auto;">
    <i class="ion-log-out"></i>
    Cargar Crédito
    </a>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>