<ion-view view-title="Perfil">
    <ion-content class="col text-center" scroll="false" style="background: url(img/giphy.gif) no-repeat center center fixed; background-size: cover;">
    <br>
  <img src='img/{{referencia.nombre}}.png' height="150" width="150">
    <br><br>
    <font face="univers" size="4" color="white"> 
         Nombre: {{referencia.nombre}}
    </font>
    <br><br>
    <font face="univers" size="4" color="white"> 
         Créditos: {{referencia.creditos}}
    </font>
    <br><br>
    <font face="univers" size="4" color="white"> 
          Email: {{referencia.correo}}
    </font>
    <br><br>
    <a class="item item-assertive" href="#" style="width: 50%; text-align: center; margin: auto;">
    <i class="ion-log-out"></i>
    Salir
    </a>
    <br><br>
    <a class="item item-positive" ng-click="LeerCodigo()" style="width: 50%; text-align: center; margin: auto;">
    <i class="ion-log-out"></i>
    Cargar Crédito
    </a>
    </ion-content>
</ion-view>