<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Desafios" icon-off="ion-ios-game-controller-b" icon-on="ion-ios-game-controller-b" href="#/tab/dash">
    <ion-nav-view name="tab-desafio"></ion-nav-view>
  </ion-tab>

<ion-tab title="Batalla Naval" icon-off="ion-android-boat" icon-on="ion-android-boat" href="#/tab/batallanaval">
    <ion-nav-view name="tab-batallanaval"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Listado de Desafios" icon-off="ion-android-list" icon-on="ion-android-list" href="#/tab/listadodesafios">
    <ion-nav-view name="tab-listadodesafios"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="Perfil" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/perfiluser">
    <ion-nav-view name="tab-perfiluser"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
 <ion-tab title="Información" icon-off="ion-information" icon-on="ion-information-circled" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
