/* Empty. Add your own CSS if you like */

input::-webkit-input-placeholder {
  color: white ;
}
input:-moz-placeholder {
  color: white ;
}
input:-ms-input-placeholder { /* IE10+ */
  color: white ;
}