<ion-view view-title="Generar Tarjeta">
      <ion-content class="col text-center" scroll="false" style="background: url(img/giphy.gif) no-repeat center center fixed; background-size: cover;">
<br><br><br><br><br><br>
     <font face="univers" size="6" color="white"> 
         Ingrese el Monto:  
    </font>
<br><br><br>

   <input type="number" placeholder="Monto en $" style="background-color: black; border: 1px black solid; width: 40%; margin: auto; color: white" ng-model="nueva.credito" class="col text-center"><br>
  <br>
<br><br>
      <button class="button button-positive" ng-click="CargarCredito()">
        Generar Tarjeta
      </button>

  </ion-content>
</ion-view>
