<ion-view view-title="Listado de Desafios">
  <ion-content style="">
 
<div class="list">
  <div class="item item-divider">
    Desafíos de Prode
  </div>

  <a class="item" href="#">
    <i class="icon ion-navigate"></i>
    x
  </a>
  <a class="item" href="#">
    <i class="icon ion-navigate"></i>
    y
  </a>
</div>

<div class="list">
  <div class="item item-divider">
    Desafíos de Batalla Naval
  </div>

   <a class="item" href="#">
    <i class="icon ion-navigate"></i>
    x
  </a>
  <a class="item" href="#">
    <i class="icon ion-navigate"></i>
    y
  </a>

  </ion-content>
</ion-view>
